

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.navbar-inverse{
    background: #222;
    border-radius: 0px;
}

.navbar-inverse .navbar-brand{
    color: #fff;
}
.navbar-inverse .navbar-brand:hover,.navbar-brand:focus{
    background: #444;
}

.jumbotron{
    background: #3c3c3c;
    color: #fff;
}
body {
    color: #111;
    background-color: #eee;
    padding-bottom: 20px;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
}














